@import url("./reset.css");
@import url("./form.css");


@font-face {
  font-family: 'Fira Sans';
  src: url('./fonts/FiraSans-Regular.ttf') format('ttf');
  font-weight: 400;
}
:root {
    --bg-color: #1E1F29;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --input-bg-color: #2E2D3D;
    --gray-color: #AFB2BF;
    --purple-color: #6C38CC;

  }

html, body {
    background-color: var(--white-color);
    font-family: 'Fira Sans', sans-serif;
}


